
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string site = "https://poloniex.com/public?command=returnChartData&currencyPair=BTC_XMR&start=1405699200&end=9999999999&period=14400";
    string FileName = "returnChartData";
    var data = QuickType.ChartData.FromJson(QuickType.JsonToString.GetString(site,FileName));
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="../../Content/Site.css" />
</head>
<body>
    <div>
        <table>
            <tr>
                <td><p>Дата:</p></td>
                <td><p>Максимум:</p></td>
                <td><p>Минимум:</p></td>
                <td><p>Открыто:</p></td>
                <td><p>Закрыто:</p></td>
                <td><p>Объем:</p></td>
                <td><p>Объем котировки:</p></td>
                <td><p>Средневзвешенное:</p></td>
            </tr>
            @foreach (QuickType.ChartData value in data)
            {
                var dateTime = new DateTime(1970, 1, 1).AddSeconds(value.Date).ToLocalTime();
                <tr>
                    <td><p>@dateTime</p></td>
                    <td><p>@value.High</p></td>
                    <td><p>@value.Low</p></td>
                    <td><p>@value.Open</p></td>
                    <td><p>@value.Close</p></td>
                    <td><p>@value.Volume</p></td>
                    <td><p>@value.QuoteVolume</p></td>
                    <td><p>@value.WeightedAverage</p></td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
